* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    .images {
        height: max-content;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 300px;

        .image {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .text {
                opacity: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);

                span {
                    font-size: 2rem;
                    color: #1f1f1f;
                    font-family: Candara, sans-serif;
                    font-weight: bold;
                    margin: 10px;
                }

                button {
                    font-family: Candara, sans-serif;
                    font-weight: bold;
                    font-size: 1.1rem;
                    color: #ece9e9;
                    background: rgba($color: #000, $alpha: 0.2);
                    border: none;
                    padding: 5px 10px;
                    border-radius: 3px;
                    cursor: pointer;
                    transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);

                    &:hover {
                        backdrop-filter: blur(5px);
                    }
                }
            }

            .image-block {
                position: absolute;
                z-index: -1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                overflow: hidden;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
                }
            }

            &:hover > .image-block img {
                filter: opacity(0.5);
                transform: scale(1.1);
            }

            &:hover > .text {
                opacity: 1;
            }
        }
    }
}
