@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.message,
#message {
  opacity: 0;
  position: fixed;
  left: 10px;
  top: 20px;
  width: 300px;
  color: whitesmoke;
  background: rgb(219, 70, 100);
  padding: 20px 20px;
  font-size: 1.05rem;
  font-family: Rubik, sans-serif;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: 1000;
  /* animation: showUp 1000ms cubic-bezier(0.19, 1, 0.22, 1) both;
  -webkit-animation: showUp 1000ms cubic-bezier(0.19, 1, 0.22, 1) both; */
}

.close-button {
  background: transparent;
  border: none;
  width: 20px;
  height: 20px;
}

.info {
  display: flex;
  position: relative;
}

.close-img {
  width: 20px;
}

.info .close-button {
  position: absolute;
  right: -15px;
  top: -35px;
}

.close-button:hover {
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}

.info .sign {
  width: 60px;
  margin-right: 10px;
}

@keyframes showUp {
  from {
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
  }
}
@keyframes hide {
  to {
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transform: translateX(-500px);
    -webkit-transform: translateX(-500px);
    -moz-transform: translateX(-500px);
    -ms-transform: translateX(-500px);
    -o-transform: translateX(-500px);
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#first {
  background: #fff;
}
#second {
  background: #f7eecf;
}
#third {
  background: #e3e1b2;
}
#fourth {
  background: #f9cac8;
}
#fifth {
  background: #fad9d7;
}
#sixth {
  background: #d1c2e0;
}
#seventh {
  background: #c9d6df;
}

#first .to-the-end,
#second .to-the-end,
#third .to-the-end {
  color: #2e2e2e;
}
#first button,
#second button,
#third button {
  color: rgb(46, 46, 46);
  border-color: rgb(46, 46, 46);
}

#fourth {
  display: flex;
  flex-direction: column;
}

#fourth img {
  cursor: pointer;
  width: 300px;
  margin-bottom: 50px;
  border: 3px solid whitesmoke;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.1);
}

.image {
  transition: 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.images {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.description {
  font-size: 1.2rem;
  font-family: Rubik, sans-serif;
  font-weight: bold;
  color: white;
}

#fifth p {
  padding: 20px 30px;
  width: 50%;
  line-height: 2;
  color: white;
  font-size: 1.2rem;
  font-family: Rubik, sans-serif;
  font-weight: bold;
  background: #9bbec0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#seventh img {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
}

.blocks {
  padding: 0 50px;
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 0 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 50px;
  place-items: center;
  transition: 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); */
}

.block {
  margin: 20px;
  background: rgba(255, 255, 255, 0.5);
  border: 3px solid whitesmoke;
  width: 250px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.text {
  color: #2e2e2e;
  font-size: 5rem;
  font-family: Rubik, sans-serif;
}

.block img {
  position: absolute;
  top: 10px;
  right: 10px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  margin: 20px 0;
  height: max-content;
  width: max-content;
  font-family: Rubik, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 5px;
  border: 3px solid whitesmoke;
  background: transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button:hover {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}

button:active {
  background-color: rgba(255, 255, 255, 0.5);
}

.to-the-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.1rem;
  font-family: Rubik, sans-serif;
  font-weight: bold;
}
